body {background-color:#CCCCFF;
}
li{
  color:white;
}
header { color:violet;
}

.wacko {
  font-size: 10px;
  display: block;
  font-size: 2em;
  padding: inherit;
  
}
.ohOhGeez{
  text-size:100px;
}
.okay{
  text-align: center;
}

input {
  display: block;
  padding: inherit;
}
iframe{
  margin-left: 15%;
  margin-right: 15%;
}
nav{

}
